### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# school_data.shape
# student_data.shape


# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = school_data_complete["school_name"].nunique()
total_students = school_data_complete["Student ID"].count()
total_budget = float(school_data_complete["budget"].sum())
budget_perstudent = total_budget/total_students
avg_math_score = int(school_data_complete["math_score"].mean())
avg_reading_score = int(school_data_complete["reading_score"].mean())
pass_math = school_data_complete[school_data_complete["math_score"]>=70].count()
pass_reading = school_data_complete[school_data_complete["reading_score"]>=70].count()
pass_overall = school_data_complete[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].count()
passper_mathscore = '{:.0%}'.format(pass_math["math_score"]/total_students)
passper_readscore = '{:.0%}'.format(pass_reading["reading_score"]/total_students)
passper_overall = '{:.0%}'.format(pass_overall["Student ID"]/total_students)
# print(total_schools)
# print(total_students)
# print(total_budget)
# print(budget_perstudent)
# print(avg_math_score)
# print(avg_reading_score)
# print(pass_math["math_score"])
# print(pass_reading["reading_score"])
# print(pass_overall["Student ID"])
# print(passper_mathscore)
# print(passper_readscore)
# print(passper_overall)
school_data_complete.head()
lst = {"Total Schools" : [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Budget per Student" : [budget_perstudent], "Average Math Score":[avg_math_score], "Average Reading Score":[avg_reading_score], "Math Pass Percent":[passper_mathscore], "Reading Pass Percent":[passper_readscore], "Overall Pass Percent":[passper_overall]}
# print(lst)
df = pd.DataFrame(lst)
df["Total Students"]=df["Total Students"].map("{:,}".format)
df["Total Budget"]=df["Total Budget"].map("${:,}".format)
df["Budget per Student"]=df["Budget per Student"].map("${:,.2f}".format)
df

,Total Schools,Total Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,Math Pass Percent,Reading Pass Percent,Overall Pass Percent
0,15,"39,170","$82,932,329,558.0","$2,117,240.99",78,81,75%,86%,65%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:

grouped_schools = school_data_complete.groupby(['school_name'])

# grouped_schools_dict = { 
#                        "Total Students":[grouped_schools["Student ID"].count()], 
#                        "Total School Budget":[grouped_schools["budget"].sum()]
#                       }
# # "School Type":[grouped_schools["type"]],
new_df = pd.DataFrame((grouped_schools.count())['Student ID'])
new_df=new_df.rename(columns={'Student ID':'Total Students'})

new_df["Total Budget"] = pd.DataFrame((grouped_schools.sum())['budget'])
# new_df["Total Budget"] = new_df["Total Budget"].map("${:,.2f}".format)
new_df["Per Student Budget"] = new_df["Total Budget"]/new_df["Total Students"]

new_df.head(10)

                       Total Students  Total Budget  Per Student Budget
school_name
Bailey High School               4976   15549641728           3124928.0
Cabrera High School              1858    2009159448           1081356.0
Figueroa High School             2949    5557128039           1884411.0
Ford High School                 2739    4831365924           1763916.0
Griffin High School              1468    1346890000            917500.0
Hernandez High School            4635   14007062700           3022020.0
Holden High School                427     105933149            248087.0
Huang High School                2917    5573322295           1910635.0
Johnson High School              4761   14733628650           3094650.0
Pena High School                  962     563595396            585858.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type